<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
        #b {
            position: absolute;
            top: 400px;
            left: 400px;
            width: 100px;
            height: 300px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <div id="a"><img id="c" src="C:\Users\owner\Pictures\cards\2D.png" width="100px" height="300px" draggable="true" ondragstart="drag(event)"></div>
    <div id="b" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <script>
        const allowDrop = event => {
            event.preventDefault()
        }
        const drag = event => {
            console.log('drag ' + event.dataTransfer)
            event.dataTransfer.setData('move', event.target.id)
        }
        const drop = event => {
            // event.preventDefault()
            id = event.dataTransfer.getData('move')
            console.log(event.target)
            event.target.appendChild(document.getElementById(id))
        }
    </script>
</body>

</html>